## ARIMA

Stability => mean, var no change

Strict stable => distribution no change => hard to have

Weak stable => E & dependency no change

#### Delta => t - (t-1)

In [1]:
import pandas as pd

df = pd.DataFrame({'value':[1,2,1]})
df

   value
0      1
1      2
2      1

In [2]:
df['diff_1'] = df.value.diff(1)
df

   value  diff_1
0      1     NaN
1      2     1.0
2      1    -1.0

In [3]:
df['diff_2'] = df.diff_1.diff(1)
df

   value  diff_1  diff_2
0      1     NaN     NaN
1      2     1.0     NaN
2      1    -1.0    -2.0